body{
    background-color: rgb(225, 220, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 300px;

}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    max-height: 400px;
    min-height: 80px;
    line-height: normal;
    margin: auto auto;
    margin-top: 300px ;
    text-align: center;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.066);   
}

#fNumber{
    margin-top: 30px;
    max-height: 400px;
    justify-content: space-between;   
}
#nMaior > input{
    margin-left: 5px;
}
#alert{
    color: gray;
}
footer{
    text-align: center ;
    position: fixed;
    width: 100%;
    
}